*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header {

  width:100%;
  height:74px;
  background-color:	 #1F51FF;
  
  /*background-image: linear-gradient( blue,blue,blue,blue );*/
}
.logo-3oeRIY{
  margin-left:6%;

}
.mid{
   display:flex;
  justify-content: space-evenly;
  font-family: inherit;
  padding-top: 20px;  
  font-size: medium;
  font-weight: bold;
  color: white;
    margin-top: -4%;
    padding-left: 30%;
    margin-right: 28%
 
}
.log{
  margin-top: -2%;
}
.login{
 color:black;
 margin-top: 7px;
 width: 5%;
 text-align: center;
 height: 39px;
 opacity: 99%;
 border: 1px;
 margin-left: 87%;
 border-radius: 130px;
 text-decoration: none;

}
.login:hover{
  color:blue;
}

.body-1{
    background: url('bg1.svg');
    width: 100%;
    height: 83vh;
    opacity:0.7;
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center;
    
}
.head1{
  font-family: 'Varela', sans-serif;
  font-size: 498%;
  font-weight: bolder;
  text-align: center;
  margin-top: -34%;
  opacity:99%;
  color:white;
}
.sub-head{
 
  text-align: center;
  font-family: inherit;
  opacity: 99%;
  color:white;
  font-weight:100 ;
  
}
.body-2{
  margin-top: -26%;
  opacity: 99%;
  margin-left: -26%;
}
.img2{
  padding-left: 77.5%;
}
.body-3{
  margin-top: -26.8%;
  opacity: 99%;
  overflow: hidden;
}
.btn1{

}
.button1{
  opacity: 99%;
  border-radius: 50px;
  border:1px;
  margin-left: 30%;
  font-size: large;
  margin-top: 16%;
  width: 291px;
  height: 62px;
}
.btn2{
  padding-left: 3%;

}
.buttons{
  display:flex;
  justify-content: center;
  margin-left: -162px;
    align-items: center;
}
.btn1a{
  text-decoration: none;
  color:black;
}
.btn1a:hover{
  color:#1F51FF;
}
.button1:hover{
  color:#1F51FF;
} 
.btn2a:hover{
  opacity: 0.8;
  background-:#4b4c4e;
  color: white;
  
}

.btn2a{
  text-decoration: none;
  color:white;
}
.body4{
 
}
.body4img{
  
  padding-top: 25%;
  padding-left: 7%;

}
.headimg{
  font-size: 48px;
  text-align: end;
  margin-top: -32%;
  margin-right: 5%;
  font-weight: bolder;
}
.subhead{
  margin-left: 72%;
    margin-top: 2%;
    font-size: large;
}
.body-5{
  width:100%;
  margin-top: 200px;
  height:700px;
  background-color: #f6f6f6;
}
.body5img{
  padding-left: 43%;
    padding-top: 9%
}
.head5{
  font-size: 48px;
  margin-top: -27%;
  text-align: left;
  padding-left: 8%;
  font-weight: bolder;
}
.sub-head5{
  margin: 8%;
  margin-top: -1%;
  font-size:large ;
}
.body-6{
  width: 100%;
    margin-top: 157px;
    padding-left: 6%;
  height:500px;
}
.head6{

  padding-right: 8%;
    padding-left: 65%;
    margin-top: -26%;
    font-size: xxx-large;
}
.sub-head6{
  margin-top: -1%;
  margin-left: 65%;
    font-size: large;
}
.body-7{
  background-color: #f6f6f6;
  width:100%;
  margin-top: 200px;
  height:1265px;
}
.head7{
  font-size: 300%;
  text-align: center;
  padding-top: 9%;
}
.sub-head7{
  text-align: center;
  font-size: 118%;
}
.body7img{
  padding-left: 8%;
    height: 701px;
}
.bod7img{
  padding-left: 32%;
}
.body7-head{
  padding-left: 37%;
  margin-top: -3%;
}
.button3{
  padding-left: 45%;
  margin-top: 3%;
}
.btn3{
  border: 1px;
  border-radius: 50px;
  width: 282px;
  font-size: larger;
  margin-left: -6%;
  height: 53px;
  color: white;
  background-color: #5865f2;
  

}
.footer{
  background-color: #2c2f33;
  width:100;
  height: 500px;
  overflow: hidden;
}
.footer1{
  
}
.svg{
  display: flex;
  width: 199px;
  margin-top: 2%;
  margin-left: 80px;
  justify-content: space-around;
}
.footer2{
  display: flex;
  flex-direction: column;
  padding-left: 33%;
  margin-top: -14%;
}
.footer3{
  display: flex;
  flex-direction: column;
  padding-left: 48%;
    margin-top: -9%;
}
.footer4{
  display: flex;
  flex-direction: column;
  margin-top: -12.5%;
  padding-left: 64%;
 
}
.footer5{
  display: flex;
  flex-direction: column;
  padding-left: 81%;
  margin-top: -20.5%;
}
.hr{
  
  width: 1187px;
    margin-left: 6%;
}
.sngup{
 
    border: 1px;
    border-radius: 50px;
    background-color: #5865f2;
    width: 59px;
    height: 25px;
    margin-right: 109px;
    width: 63px;
    height: 37px;
    color:white;
}
.last{
  display: flex;
  justify-content: space-between;
  margin-top: 4%;

}